*{
    margin: 0;
    padding: 0;
}
.last-footer{
    background: #eaeaea;
    font-size: 13px;
}
.footer-body{
    text-align: left;
    margin-left: 150px;
    margin-right: 130px;
    padding-top: 40px;
}

.footer-body .h3{
    font-size: 24px;
}

.footer-body p{
    font-size: 14px;
    padding-bottom: 25px;
    padding-top: 10px;
}
.footer-body h2{
    font-weight:500;
    color: #4c5766d0;
    font-size: 25px;
}