.footer{
    background-color: #323a44;
    width: 100%;
    font-size: 18px;
    color: #eee;
}
.list{
    display: flex;
    text-align: left;
    width: 960px;
    margin-left: 160px;
    margin-top: 20px;
}

.child-list1{
    margin-left: 140px;
}
.child-list2{
    margin-left: 50px;
}
.child-list3{
    margin-left: 10px;
}

.list li{
    font-size: 15px;
    display: block;
    padding-top: 10px;
}
.footer p{
    color: white;
    padding-top: 40px;
}
hr{
    margin-top: 40px;
}
.address .add1{
    text-align: left;
    margin-left: 150px;
    font-weight: 300;
}
.address .add2{
    text-align: left;
    margin-left: 150px;
    padding-top: 10px;
    font-weight: lighter;
    font-size: 15px;
}
.address .add3{
    text-align: left;
    margin-left: 140px;
    padding: 10px;
    font-size: 11px;
    font-weight: 100;
    padding-bottom: 30px;
}