.file1{
    background-image: url(https://www.zoomcar.com/build/img/app_bg.daa074b25be54e8df493f629f6a10f61.jpg);
    background-repeat: no-repeat;
    height: 602px;
    background-size: cover;
    text-align: left;
    color: #eee;
}
.file1 h2{
    margin-left: 14%;
    Padding-top: 17%;
}
.file1 p{
    margin-left: 14%;
    padding-top: 20px;
    font-size: 18px;
}

.file2{
    display: flex;
    height: 310px;
    justify-content: space-between;
    margin-left: 50px;
    width: 90%;
}
.qualities{
    padding-top: 70px;
    color: #323a44;
}
.first{
    padding-top: 100px;
    color: #323a44;
}
.des{
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
}
.extra{
    font-weight: 70;
}

.file2 p{
    font-size: 18px;
}
.file3{
    background-image: url(https://www.zoomcar.com/build/img/testimonial_bg.499d1dd2876b931e9cf0509e3d1884f5.jpg);
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 25px;
}


.store{
    margin-left: 150px;
    margin-top: 20px;
}

.store a img{
    width: 120px;
    height: 42px;
    margin-left: 20px;
}
.Slider {
    color: white;
    cursor: pointer;
    padding-top: 20px;
} 
.Slider p{
    padding-left: 171px;
    padding-right: 190px;
    font-weight: 200;
}
.Slider .name{
    color: rgb(114, 134, 74);
    font-weight: 500;
    padding-top: 25px;
}

.symbol{
    background-image: url(https://www.zoomcar.com/build/img/quotation.577e70bf4479f87726e9b62c3afe8be0.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-x: 12px;
    background-position-y: 90px;
}
.press{
    height: 120px;
}
.press-footer{
    height: 180px;
    background-color: #43505c;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}
.press-footer .link{
    text-align: center;
    width: 25%;
    display: block;
    padding: 30px 0;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}
/* a:hover{
    background-color: rgb(167, 187, 187);
} */
.press-footer img{
    width: 30px;
    width: 30px;
}
.press-footer p{
    padding-top: 30px;
}



.store-but{
    background-color: black;
    color: white;
}
